<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" value="{{devoured}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}YUM!{{else}}Un eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
